
* {
  margin: 0;
  padding: 0;
}


.bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -999;
}

.bg img {
  min-height: 100%;
  width: 100%;
}

.title {
  min-width: 800px;
  background-color: rgb(49, 91, 104);
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.content {
  width: 800px;
  margin: 0 auto;
}

.question {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(187, 203, 208);
  color: black;
  width: 800px;
}

.paragraph {
  display: none;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 20px;
  background-color: rgb(187, 203, 208);
  color: rgb(38, 36, 36);
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
  text-indent: 2em;
  text-align: justify;
  font-weight: normal;
  margin-bottom: 20px;
}

/* 第一個問題 */
.triangleUp{
  cursor: pointer;
  display: block;
  position: absolute;
  right: 20px;
  top: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 22px 17px;
  border-color: transparent transparent rgb(115, 120, 127) transparent;
  opacity: 0.5;
}

.triangleDown {
  cursor: pointer;
  position: absolute;
  display: none;
  right: 20px;
  top: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22px 17px 0 17px;
  border-color: rgb(115, 120, 127) transparent transparent transparent;
  
  
}



a{text-decoration:none;}

a:hover {

text-decoration:underline;
background-color:rgb(81, 152, 227);
color:white;
}



.questionUnder{
  position: relative;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(187, 203, 208);
  color: black;
  width: 800px;



}